apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      imagePullSecrets:
        - name: dev-acr-secret
      containers:
        - name: order-service
          image: dwimicroservices.azurecr.io/order-service:latest
          ports:
            - containerPort: 5000
          imagePullPolicy: Always
