apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: uat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: IMAGE_PLACEHOLDER
          env:
            - name: APP_VERSION
              value: VERSION_PLACEHOLDER
          ports:
            - containerPort: 5000

